<?xml version="1.0"?>
<robot name="scout_mini" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="scout_mini" params="odometry_source load_gazebo lidar_type:=3d">

    <!-- Variables -->
    <xacro:property name="M_PI" value="3.14159"/>

    <!-- Collision boxes geometries -->
    <xacro:property name="base_x_size" value="0.6200000" />
    <xacro:property name="base_y_size" value="0.585000" />
    <xacro:property name="base_z_size" value="0.235000" />

    <!-- vehicle geometries - USING OFFICIAL SCOUT MINI VALUES -->
    <xacro:property name="wheelbase" value="0.3132556"/>
    <xacro:property name="track" value="0.4563536" />
    <xacro:property name="wheel_vertical_offset" value="-0.077" />
    <xacro:property name="wheel_length" value="0.08" />
    <xacro:property name="wheel_radius" value="0.16" />

    <!-- virtual joints to link to ground and to odom -->
    <link name="base_footprint" />
         <origin xyz="0 0 0" rpy="0 0 0" />
    <joint name="base_footprint_to_base_link" type="fixed">
      <origin xyz="0 0 ${wheel_radius - wheel_vertical_offset}" rpy="0 0 0" />
      <parent link="base_footprint" />
      <child link="base_link" />
    </joint>

    <link name="base_link">
      <!-- ADD A SIMPLE VISUAL TO SEE WHERE base_link IS -->
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.01" />
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1" />
        </material>
      </visual>
    </link>

    <joint name="base_link_to_mobile_robot" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="mobile_robot_base_link" />
    </joint>

    <!-- Base link with visual mesh -->
    <link name="mobile_robot_base_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find agilex_scout)/meshes/mobile_robot/scout_mini_base_link2.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find agilex_scout)/meshes/mobile_robot/scout_mini_base_link2.dae" />
        </geometry>
      </collision>
    </link>

    <link name="inertial_link">
      <inertial>
        <mass value="60" /> <!-- for STL body it will be 44. -->
        <origin xyz="0.015 0.0231316650320557 0.1175" />
        <inertia ixx="0.185196122711036"
                ixy="4.30144213829512E-08"
                ixz="5.81037523686401E-08"
                iyy="0.364893736238929"
                iyz="-0.000386720198091934"
                izz="0.223868521722778" />
      </inertial>
    </link>

    <joint name="inertial_joint" type="fixed">
      <origin xyz="0 0 0.1175" rpy="0 0 0" />
      <parent link="mobile_robot_base_link" />
      <child link="inertial_link" />
    </joint>

    <!-- Scout wheel macros -->
    <xacro:include filename="$(find agilex_scout)/urdf/mobile_robot/scout_mini_wheel_1.xacro" />
    <xacro:include filename="$(find agilex_scout)/urdf/mobile_robot/scout_mini_wheel_2.xacro" />
    <xacro:include filename="$(find agilex_scout)/urdf/mobile_robot/scout_mini_wheel_3.xacro" />
    <xacro:include filename="$(find agilex_scout)/urdf/mobile_robot/scout_mini_wheel_4.xacro" />
    
    <!-- IMPORTANT: Connect wheels to mobile_robot_base_link (not base_link) -->
    <xacro:scout_mini_wheel_1 wheel_prefix="front_left" load_gazebo="${load_gazebo}">
      <origin xyz="0.2319755 0.2082515 -0.100998" rpy="-1.57 0 0" />
      </xacro:scout_mini_wheel_1>
      <xacro:scout_mini_wheel_2 wheel_prefix="rear_left" load_gazebo="${load_gazebo}">
      <origin xyz="-0.2319755 0.2082515 -0.100998" rpy="-1.57 0 0" />
    </xacro:scout_mini_wheel_2>
     <xacro:scout_mini_wheel_3 wheel_prefix="front_right" load_gazebo="${load_gazebo}">
      <origin xyz="0.2319755 -0.2082515 -0.099998" rpy="1.57 0 0" />
    </xacro:scout_mini_wheel_3>
    
    <xacro:scout_mini_wheel_4 wheel_prefix="rear_right" load_gazebo="${load_gazebo}">
      <origin xyz="-0.2319755 -0.2082515 -0.099998" rpy="1.57 0 0" />
    </xacro:scout_mini_wheel_4>

    <!-- Mounting points -->
    <link name="front_mount" />
    <joint name="front_mount_joint" type="fixed">
      <origin xyz="0.1625 0.0 0.112701" rpy="0 0 0" />
      <parent link="mobile_robot_base_link" />
      <child link="front_mount" />
    </joint>

    <link name="rear_mount" />
    <joint name="rear_mount_joint" type="fixed">
      <origin xyz="-0.1625 0.0 0.112701" rpy="0 0 0" />
      <parent link="mobile_robot_base_link" />
      <child link="rear_mount" />
    </joint>

    <!-- Gazebo definitions -->
    <xacro:if value="${load_gazebo}">
      <xacro:include filename="$(find agilex_scout)/urdf/mobile_robot/scout_mini.gazebo" />
    </xacro:if>

  </xacro:macro>

</robot>
